{% extends "layout.html" %}
{% block title %}Password Reset Page{% endblock %}
{% block h1 %}REST PASSWORD{% endblock %}
{% block content %}
    {% if validlink %} 
        {{ form.as_p }}
        <br>
        <div class="group">
            <button class="button" type="submit">Submit</button>
        </div>
        <div class="hr"></div>
        <div class="foot-lnk">
            <a href="{% url 'login' %}">Sign in</a>
        </div>
    {% else %}
        <br><br><br>
        <p style="color: red; text-align: center;">Invalid Token!</p>
        <br><br><br><br>
        <div class="foot-lnk">
            <a href="{% url 'password_reset' %}">Request a new reset token</a>
        </div>
    {% endif %}
    <script>
        document.getElementById("id_new_password1").className = "input";
        document.getElementById("id_new_password1").placeholder = "New Password";
        document.getElementById("id_new_password2").className = "input";
        document.getElementById("id_new_password2").placeholder = "New Password Confirmation";
        tags = document.getElementsByTagName('label')
        tags[0].remove();
        tags[0].remove();
    </script>
{% endblock content %}