{% extends "layout.html" %}
{% block title %}Password Reset Page{% endblock %}
{% block h1 %}FORGOT PASSWORD{% endblock %}
{% block content %}
	<div class="group">
		<!--<label for="email" class="label">Email</label>-->
		<input name="email" class="input" placeholder="Email address" type="email" id="id_email" required="true">
	</div><br>
	<div class="group">
		<button class="button" type="submit">Send reset email</button>
	</div>
	<div class="hr"></div>
	<div class="foot-lnk">
		<a href="{% url 'login' %}">Back to Login Page</a>
	</div>
{% endblock content %}