{% extends 'layout.html' %}
{% block content %}
  <h1 class="h3 mb-3 font-weight-normal">Change Password</h1><br>
  
    <input name="old_password" class="input" placeholder="Old password" type="password" id="id_old_password" required="true"><br>
    <input name="new_password1" class="input" placeholder="New password" type="password" id="id_new_password1" required="true"><br>
    <input name="new_password2" class="input" placeholder="Confirm password" type="password" id="id_new_password2" required="true"><br>

    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}

  <button class="button" type="submit">Update</button> 
  <div class="hr"></div>
	<div class="foot-lnk">
		<a href="{% url 'topic' %}">Back</a>
	</div>
{% endblock %}
